
name: Build iOS

on:
  workflow_dispatch:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: macos-latest

    env:
      COUNTRIES_API_URL: ${{ secrets.COUNTRIES_API_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create APIConfig.swift with secret URL
        run: |
          echo "struct APIConfig { static let baseURL = \"${COUNTRIES_API_URL}\" }" > "Countries Data App/APIConfig.swift"

      - name: Debug print
        run: echo "Secret is loaded (value hidden)"

